{# src/OC/PlatformBundle/Resources/views/Advert/index.html.twig #} {%
extends "DCPlatformBundle::dahouet.Layout.html.twig" %} {% block title
%} Accueil - {{ parent() }} {% endblock %}

{% block main %}
<div id="content-main" class="clearfix grid_11">
	<div
		class="featured_slider clearfix thumbnail-excerpt horizontal-slide">
		<div id="slider_root" class="clearfix">
			<div class="slider_items" style="left: -2025px;">
				<div class="slider_post clearfix grid_11 alpha omega cloned"
					id="slider-post-679">


					<div class="sliderpost_featured_image">
						<a href="http://ycva.fr/?p=679"></a><a
							href="http://ycva.fr/?p=679"><img width="150" height="150"
							src="http://ycva.fr/wp-content/uploads/2014/10/photo-30-150x150.jpg"
							class="attachment-thumbnail" alt="photo (30)"></a>
					</div>

					<div class="slider-entry-wrap clearfix">
						<div class="slider-content-wrap">
							<h2 class="slider_post_title">
								<a href="http://ycva.fr/?p=679">Dernière mousse!</a>
							</h2>

							<div class="slider_post_entry clearfix">
								<p>Le YCVA vous donne rendez-vous le samedi 18 octobre pour la
									dernière mousse en mer de la saison. Au programme départ de
									Dahouët à 14h direction Lezardieux, dîner puis mousse au bar
									retour dimanche en passant par Gwenzegal le temps d’un casse
									croute.</p>
								<a class="block-button" href="http://ycva.fr/?p=679">Voir
									l'article entier</a>

							</div>
						</div>
					</div>
				</div>

				<div class="slider_post clearfix grid_11 alpha omega"
					id="slider-post-766">


					<div class="sliderpost_featured_image">
						<a href="http://ycva.fr/?p=766"></a><a
							href="http://ycva.fr/?p=766"><img width="150" height="150"
							src="http://ycva.fr/wp-content/uploads/2015/05/WP_20150516_09_16_29_Pro-Copie-150x150.jpg"
							class="attachment-thumbnail"
							alt="WP_20150516_09_16_29_Pro - Copie"></a>
					</div>

					<div class="slider-entry-wrap clearfix">
						<div class="slider-content-wrap">
							<h2 class="slider_post_title">
								<a href="http://ycva.fr/?p=766">3 JOURS D’ARMOR 2015. UN BON
									MILLESIME</a>
							</h2>

							<div class="slider_post_entry clearfix">
								<p>La météo prévue n’était pas favorable 48 h avant le départ,
									ce qui a probablement découragé certains équipages,
									historiquement inscrits chaque année. D’autres, en revanche ont
									rejoint la régate pour finalement constituer une flotte assez
									hétérogène de 30 bateaux.&nbsp;Dans un vent soutenu de SO/O au
									départ de Dahouët, 2 ou 3 très forts grains&nbsp;ont balayé …</p>
								<a class="block-button" href="http://ycva.fr/?p=766">Voir
									l'article entier</a>

							</div>
						</div>
					</div>
				</div>

				<div class="slider_post clearfix grid_11 alpha omega"
					id="slider-post-755">


					<div class="sliderpost_featured_image">
						<a href="http://ycva.fr/?p=755"></a><a
							href="http://ycva.fr/?p=755"><img width="150" height="150"
							src="http://ycva.fr/wp-content/uploads/2015/05/IMG_2653-150x150.jpg"
							class="attachment-thumbnail" alt="IMG_2653"></a>
					</div>

					<div class="slider-entry-wrap clearfix">
						<div class="slider-content-wrap">
							<h2 class="slider_post_title">
								<a href="http://ycva.fr/?p=755">3 JOURS D’ARMOR. 14 au 16 mai</a>
							</h2>

							<div class="slider_post_entry clearfix">
								<p>J-5 pour la 27ème édition de la régate des 3 Jours d’Armor
									pour rallier Jersey. Il faudra se lever tôt jeudi matin et
									passer le seuil du port de Dahouët
									vers&nbsp;06h00&nbsp;maxi&nbsp;au risque de&nbsp;s’échouer
									avant d’avoir atteint le phare de la sortie du
									chenal.&nbsp;Mais une météo d’ouest devrait pousser fort, ce
									qui a l’avantage d’arriver pour …</p>
								<a class="block-button" href="http://ycva.fr/?p=755">Voir
									l'article entier</a>

							</div>
						</div>
					</div>
				</div>

				<div class="slider_post clearfix grid_11 alpha omega"
					id="slider-post-706">


					<div class="sliderpost_featured_image">
						<a href="http://ycva.fr/?p=706"></a><a
							href="http://ycva.fr/?p=706"><img width="150" height="149"
							src="http://ycva.fr/wp-content/uploads/2015/03/arton1300-870e3-150x149.jpg"
							class="attachment-thumbnail" alt="arton1300-870e3"></a>
					</div>

					<div class="slider-entry-wrap clearfix">
						<div class="slider-content-wrap">
							<h2 class="slider_post_title">
								<a href="http://ycva.fr/?p=706">Pen Koent – Premier au
									championat UNCL Atlantique (IRC2)</a>
							</h2>

							<div class="slider_post_entry clearfix">
								<p>L’équipage 100% YCVA de Pen Koent skippé par Manu Le Men se
									classe à la premiere place du championat IRC2 Atlantique, une
									superbe performance qui va leur permetre de disputer la finale
									IRC à Marseille. Source :
									http://www.uncl.com/Remises-des-prix-des-Championnats.html
									&nbsp; Suites des aventures lors de la Finale IRC à Marseille
									http://www.uncl.com/Championnat-de-France-Promotion.html &nbsp;
									Aujourd’hui samedi, 1ere journée, …</p>
								<a class="block-button" href="http://ycva.fr/?p=706">Voir
									l'article entier</a>

							</div>
						</div>
					</div>
				</div>

				<div class="slider_post clearfix grid_11 alpha omega"
					id="slider-post-684">


					<div class="sliderpost_featured_image">
						<a href="http://ycva.fr/?p=684"></a><a
							href="http://ycva.fr/?p=684"><img width="150" height="150"
							src="http://ycva.fr/wp-content/uploads/2014/10/20141030_135600-150x150.jpg"
							class="attachment-thumbnail" alt="20141030_135600"></a>
					</div>

					<div class="slider-entry-wrap clearfix">
						<div class="slider-content-wrap">
							<h2 class="slider_post_title">
								<a href="http://ycva.fr/?p=684">SOUQUE A BLOC met le cap vers
									les Antilles</a>
							</h2>

							<div class="slider_post_entry clearfix">
								<p>Le 11 juin 2011, Alain Boulais mettait à l’eau son voilier
									construit de ses mains et de celles de son épouse Sylvie pour
									un résultat bluffant.&nbsp;Très peu de&nbsp;chantiers
									navals&nbsp;actuels &nbsp;ne peuvent rivaliser avec&nbsp;une
									telle&nbsp;qualité de construction. il faut dire que de
									2005&nbsp;à 2011 tant d’efforts et de privations ont permis ce
									résultat.&nbsp;Et depuis, Alain s’entraîne …</p>
								<a class="block-button" href="http://ycva.fr/?p=684">Voir
									l'article entier</a>

							</div>
						</div>
					</div>
				</div>

				<div class="slider_post clearfix grid_11 alpha omega"
					id="slider-post-679">


					<div class="sliderpost_featured_image">
						<a href="http://ycva.fr/?p=679"></a><a
							href="http://ycva.fr/?p=679"><img width="150" height="150"
							src="http://ycva.fr/wp-content/uploads/2014/10/photo-30-150x150.jpg"
							class="attachment-thumbnail" alt="photo (30)"></a>
					</div>

					<div class="slider-entry-wrap clearfix">
						<div class="slider-content-wrap">
							<h2 class="slider_post_title">
								<a href="http://ycva.fr/?p=679">Dernière mousse!</a>
							</h2>

							<div class="slider_post_entry clearfix">
								<p>Le YCVA vous donne rendez-vous le samedi 18 octobre pour la
									dernière mousse en mer de la saison. Au programme départ de
									Dahouët à 14h direction Lezardieux, dîner puis mousse au bar
									retour dimanche en passant par Gwenzegal le temps d’un casse
									croute.</p>
								<a class="block-button" href="http://ycva.fr/?p=679">Voir
									l'article entier</a>

							</div>
						</div>
					</div>
				</div>
				<div class="slider_post clearfix grid_11 alpha omega cloned"
					id="slider-post-766">


					<div class="sliderpost_featured_image">
						<a href="http://ycva.fr/?p=766"></a><a
							href="http://ycva.fr/?p=766"><img width="150" height="150"
							src="http://ycva.fr/wp-content/uploads/2015/05/WP_20150516_09_16_29_Pro-Copie-150x150.jpg"
							class="attachment-thumbnail"
							alt="WP_20150516_09_16_29_Pro - Copie"></a>
					</div>

					<div class="slider-entry-wrap clearfix">
						<div class="slider-content-wrap">
							<h2 class="slider_post_title">
								<a href="http://ycva.fr/?p=766">3 JOURS D’ARMOR 2015. UN BON
									MILLESIME</a>
							</h2>

							<div class="slider_post_entry clearfix">
								<p>La météo prévue n’était pas favorable 48 h avant le départ,
									ce qui a probablement découragé certains équipages,
									historiquement inscrits chaque année. D’autres, en revanche ont
									rejoint la régate pour finalement constituer une flotte assez
									hétérogène de 30 bateaux.&nbsp;Dans un vent soutenu de SO/O au
									départ de Dahouët, 2 ou 3 très forts grains&nbsp;ont balayé …</p>
								<a class="block-button" href="http://ycva.fr/?p=766">Voir
									l'article entier</a>

							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="slider_nav">
			<a href="#" class=""><span>3 JOURS D’ARMOR 2015. UN BON MILLESIME</span></a><a
				href="#" class=""><span>3 JOURS D’ARMOR. 14 au 16 mai</span></a><a
				href="#" class="active"><span>Pen Koent – Premier au championat UNCL
					Atlantique (IRC2)</span></a><a href="#"><span>SOUQUE A BLOC met le
					cap vers les Antilles</span></a><a href="#"><span>Dernière mousse!</span></a>
		</div>

	</div>



	<div id="post-12"
		class="post-12 page type-page status-publish hentry clearfix post nodate">


		<div class="entry clearfix">



			<h1 class="post-title entry-title">Accueil</h1>

			<div class="post-meta clearfix">


				<span class="updated"> <span class="value-title"
					title="2013-02-28T11:44"> </span>

				</span>
			</div>

			<div class="entry-content clearfix">


				<p>&nbsp;</p>
				<p>Yacht Club Val-André</p>
				<p>BP 43 – 22 370 Pleneuf-Val-Andre</p>
				<p>22370 Pléneuf Val-André</p>
				<p>Tél 02-96-72-21-68</p>
				<p>Mail ycva@orange.fr</p>



			</div>

			<div class="entry-footer clearfix"></div>
		</div>
	</div>

















	<div class="homepage_panes">

		<div class="homepage_pane clearfix grid_5 alpha"
			id="homepage-pane-766">

			<a href="http://ycva.fr/?p=766"
				title="Lien permanent pour 3 JOURS D’ARMOR 2015. UN BON MILLESIME">
			</a>
			<div class="excerpt-thumb">
				<a href="http://ycva.fr/?p=766"
					title="Lien permanent pour 3 JOURS D’ARMOR 2015. UN BON MILLESIME"></a><a
					href="http://ycva.fr/?p=766"><img width="340" height="170"
					src="http://ycva.fr/wp-content/uploads/2015/05/WP_20150516_09_16_29_Pro-Copie-340x170.jpg"
					class="attachment-graphene-homepage-pane"
					alt="WP_20150516_09_16_29_Pro - Copie"></a>
			</div>

			<h3 class="post-title">
				<a href="http://ycva.fr/?p=766"
					title="Lien permanent pour 3 JOURS D’ARMOR 2015. UN BON MILLESIME">3
					JOURS D’ARMOR 2015. UN BON MILLESIME</a>
			</h3>

			<div class="post-excerpt">
				<p>La météo prévue n’était pas favorable 48 h avant le départ, ce
					qui a probablement découragé certains équipages, historiquement
					inscrits chaque année. D’autres, en revanche ont rejoint la régate
					pour finalement constituer une flotte assez hétérogène de 30
					bateaux.&nbsp;Dans un vent soutenu de SO/O au départ de Dahouët, 2
					ou 3 très forts grains&nbsp;ont balayé …</p>
			</div>

			<p class="post-comments">
				<a href="http://ycva.fr/?p=766"
					title="Lien permanent pour 3 JOURS D’ARMOR 2015. UN BON MILLESIME"
					class="block-button">Lire plus</a>
			</p>


		</div>
		<div class="homepage_pane clearfix grid_5 omega"
			id="homepage-pane-755">

			<a href="http://ycva.fr/?p=755"
				title="Lien permanent pour 3 JOURS D’ARMOR. 14 au 16 mai"> </a>
			<div class="excerpt-thumb">
				<a href="http://ycva.fr/?p=755"
					title="Lien permanent pour 3 JOURS D’ARMOR. 14 au 16 mai"></a><a
					href="http://ycva.fr/?p=755"><img width="340" height="170"
					src="http://ycva.fr/wp-content/uploads/2015/05/IMG_2653-340x170.jpg"
					class="attachment-graphene-homepage-pane" alt="IMG_2653"></a>
			</div>

			<h3 class="post-title">
				<a href="http://ycva.fr/?p=755"
					title="Lien permanent pour 3 JOURS D’ARMOR. 14 au 16 mai">3 JOURS
					D’ARMOR. 14 au 16 mai</a>
			</h3>

			<div class="post-excerpt">
				<p>J-5 pour la 27ème édition de la régate des 3 Jours d’Armor pour
					rallier Jersey. Il faudra se lever tôt jeudi matin et passer le
					seuil du port de Dahouët vers&nbsp;06h00&nbsp;maxi&nbsp;au risque
					de&nbsp;s’échouer avant d’avoir atteint le phare de la sortie du
					chenal.&nbsp;Mais une météo d’ouest devrait pousser fort, ce qui a
					l’avantage d’arriver pour …</p>
			</div>

			<p class="post-comments">
				<a href="http://ycva.fr/?p=755"
					title="Lien permanent pour 3 JOURS D’ARMOR. 14 au 16 mai"
					class="block-button">Lire plus</a>
			</p>


		</div>
	</div>

</div>
{% endblock %}
