


		{% set currentRoute = app.request.attributes.get('_route') %}
{# 		<p>{{ currentRoute }}</p>#}

		<div class="entry clearfix">
			<h1 class="post-title entry-title">{{ libel }}</h1>
			<div class="post-meta clearfix">
				<span class="updated"> <span class="value-title"
					title="2013-03-01T11:53" />
				</span>
			</div>
			<div class="entry-content clearfix">
				<p>&nbsp;</p>
				{{ form(form) }}

			</div>
			<div class="entry-footer clearfix"></div>
		</div>


