
	<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
	<html xmlns="http://www.w3.org/1999/xhtml" lang="fr-FR">
	
{% block head %}
	<head profile="http://gmpg.org/xfn/11">
	    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	    <meta http-equiv="X-UA-Compatible" content="IE=Edge" />
	<title>{% block title %}Yacht Club de Dahouët  » YCD{% endblock %}</title>
	    <link rel="pingback" href="http://ycva.fr/xmlrpc.php" /> 
	    <link rel="alternate" type="application/rss+xml" title="YCVA &raquo; Flux" href="http://ycva.fr/?feed=rss2" />
	<link rel="alternate" type="application/rss+xml" title="YCVA &raquo; Flux des commentaires" href="http://ycva.fr/?feed=comments-rss2" />
	<link rel="alternate" type="application/rss+xml" title="YCVA &raquo; 40 miles de Dahouët Flux des commentaires" href="http://ycva.fr/?feed=rss2&#038;page_id=34" />
		<script type="text/javascript">
		WebFontConfig = {
			google: { families: ['Pontano+Sans::latin,latin-ext'] }
		};
		(function() {
			var wf = document.createElement('script');
			wf.src = ('https:' == document.location.protocol ? 'https' : 'http') + '://ajax.googleapis.com/ajax/libs/webfont/1/webfont.js';
			wf.type = 'text/javascript';
			wf.async = 'true';
			var s = document.getElementsByTagName('script')[0];
			s.parentNode.insertBefore(wf, s);
		})(); 
	    </script>
	    
	{% block stylsheet %}
		<link rel='stylesheet' href='{{ asset('bundles/dcplatform/CSS/style.css?ver=3.5.1') }}' type='text/css' media='screen' />
{# 		<link rel='stylesheet' href='http://ycva.fr/wp-content/themes/graphene/style.css?ver=3.5.1' type='text/css' media='screen' />#}
	{% endblock %}
	
	<script type='text/javascript' src='http://ycva.fr/wp-includes/js/jquery/jquery.js?ver=1.8.3'></script>
	<script type='text/javascript' src='http://ycva.fr/wp-includes/js/comment-reply.min.js?ver=3.5.1'></script>
	<script type='text/javascript'>
	/* <![CDATA[ */
	var grapheneJS = {"templateUrl":"http:\/\/ycva.fr\/wp-content\/themes\/graphene","isSingular":"1","shouldShowComments":"1","sliderDisable":"","sliderAnimation":"horizontal-slide","sliderTransSpeed":"400","sliderInterval":"7000","sliderDisplay":"thumbnail-excerpt","infScroll":"","infScrollClick":"","infScrollComments":"","totalPosts":"1","postsPerPage":"10","isPageNavi":"","infScrollMsgText":"Fetching window.grapheneInfScrollItemsPerPage more item from window.grapheneInfScrollItemsLeft left ...","infScrollMsgTextPlural":"Fetching window.grapheneInfScrollItemsPerPage more items from window.grapheneInfScrollItemsLeft left ...","infScrollFinishedText":"No more items to fetch","commentsPerPage":"50","totalComments":"0","infScrollCommentsMsg":"Fetching window.grapheneInfScrollCommentsPerPage more top level comment from window.grapheneInfScrollCommentsLeft left ...","infScrollCommentsMsgPlural":"Fetching window.grapheneInfScrollCommentsPerPage more top level comments from window.grapheneInfScrollCommentsLeft left ...","infScrollCommentsFinishedMsg":"No more comments to fetch"};
	/* ]]> */
	</script>
	<script type='text/javascript' src='http://ycva.fr/wp-content/themes/graphene/js/graphene.js?ver=3.5.1'></script>
	<link rel="EditURI" type="application/rsd+xml" title="RSD" href="http://ycva.fr/xmlrpc.php?rsd" />
	<link rel="wlwmanifest" type="application/wlwmanifest+xml" href="http://ycva.fr/wp-includes/wlwmanifest.xml" /> 
	<link rel='prev' title='Les 3 jours d&rsquo;Armor' href='http://ycva.fr/?page_id=31' />
	<link rel='next' title='Régate des Etains' href='http://ycva.fr/?page_id=40' />
	<meta name="generator" content="WordPress 3.5.1" />
	<link rel='canonical' href='http://ycva.fr/?page_id=34' />
	<style type="text/css">
	#top-bar,.top-bar-preview .top-bar{ background: #236ba3; background: -moz-linear-gradient(#0F2D4D, #236ba3); background: -webkit-linear-gradient(#0F2D4D, #236ba3); background: -o-linear-gradient(#0F2D4D, #236ba3); -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorStr='#0F2D4D', EndColorStr='#236ba3')"; background: linear-gradient(#0F2D4D, #236ba3); }#top-bar,.top-bar-preview .top-bar{border-color:#236ba3}#header,.top-bar-preview .header{border-color:#236ba3}#header-menu-wrap{ background: #0F2D4D; background: -moz-linear-gradient(#163e69, #0F2D4D); background: -webkit-linear-gradient(#163e69, #0F2D4D); background: -o-linear-gradient(#163e69, #0F2D4D); -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorStr='#163e69', EndColorStr='#0F2D4D')"; background: linear-gradient(#163e69, #0F2D4D); }.sidebar h3{ background: #163e69; background: -moz-linear-gradient(#0F2D4D, #163e69); background: -webkit-linear-gradient(#0F2D4D, #163e69); background: -o-linear-gradient(#0F2D4D, #163e69); -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorStr='#0F2D4D', EndColorStr='#163e69')"; background: linear-gradient(#0F2D4D, #163e69); }.featured_slider{ -pie-background: linear-gradient(left top,#0F2D4D,#163e69); background: #163e69; background: -moz-linear-gradient(left top,#0F2D4D, #163e69); background: -webkit-linear-gradient(left top,#0F2D4D, #163e69); background: -o-linear-gradient(#0F2D4D, #163e69); -ms-filter: "progid:DXImageTransform.Microsoft.gradient(gradientType=1,startColorStr='#0F2D4D', EndColorStr='#163e69')"; background: linear-gradient(left top,#0F2D4D, #163e69); }#footer,.graphene-footer{background-color:#163e69;color:#999999}body{background-image:none}.header_title, .header_title a, .header_title a:visited, .header_title a:hover, .header_desc {color:#blank}.featured_slider #slider_root{height:190px}#content-main, #content-main .grid_11, .container_16 .slider_post, #comments #respond {width:675px}#sidebar1, #sidebar2 {width:245px}.comment-form-author, .comment-form-email, .comment-form-url {width:205px}.graphene-form-field {width:197px}#commentform textarea {width:647px}
	</style>
		<!--[if lte IE 7]>
	      <style type="text/css" media="screen">
	      	#footer, div.sidebar-wrap, .block-button, .featured_slider, #slider_root, #nav li ul, .pie{behavior: url(http://ycva.fr/wp-content/themes/graphene/js/PIE.php);}
	        .featured_slider{margin-top:0 !important;}
	        #header-menu-wrap {z-index:5}
	      </style>
	    <![endif]-->
	    <style type="text/css" id="custom-background-css">
	body.custom-background { background-color: #d8d8d8; }
	.Style1 {
		color: #1772af;
		font-weight: bold;
	}
	    </style>
	</head>
{% endblock %}

	<body class="page page-id-34 page-template-default custom-background two_col_left two-columns">

	<div id="container" class="container_16">
    
{% block header %}{% endblock %}

{% block navbar %}{% endblock %}

{% block content %}{% endblock %}

{% block footer %}	
	<div id="footer" class="clearfix" >
	    
	        <div id="copyright">
	    	<h3>Copyright &copy; 2014 DL</h3>
			            <p ><font color="#99CCCC" >
	             - Mentions legales - Contact - Accessibilité -       </font>   </p>
	                
	        
	    	    </div>
	
			<div class="footer-menu-wrap">
	    	<ul id="footer-menu" class="clearfix">
				                    	<li class="menu-item return-top"><a href="#">Retour en Haut</a></li>
	                    </ul>
	    </div>
	    	
	        <div id="developer" class="grid_7">
	   
	
		    </div>
	      
	    </div><!-- #footer -->
{% endblock %}

</div><!-- #container -->

{% block javascripts %}
	<!--[if IE 8]>
    <script type="text/javascript">
        (function($) {
            var imgs, i, w;
            var imgs = document.getElementsByTagName( 'img' );
            maxwidth = 0.98 * $( '.entry-content' ).width();
            for( i = 0; i < imgs.length; i++ ) {
                w = imgs[i].getAttribute( 'width' );
                if ( w > maxwidth ) {
                    imgs[i].removeAttribute( 'width' );
                    imgs[i].removeAttribute( 'height' );
                }
            }
        })(jQuery);
    </script>
    <![endif]-->

  <script type='text/javascript' src='http://ycva.fr/wp-content/themes/graphene/js/jquery.tools.min.js?ver=3.5.1'></script>
{% endblock %}
  
  </body>
</html>