<div id="nav">
                <div id="header-menu-wrap" class="clearfix">
			<ul id="header-menu" class="menu clearfix"><li id="menu-item-88" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-ancestor"><a href="{{ path('dc_platform_dahouet_acceuil') }}"><strong>Accueil</strong></a>
<ul class="sub-menu">
	<li id="menu-item-428" class="menu-item menu-item-type-post_type menu-item-object-page"><a href="http://ycva.fr/?page_id=177">Présentation des régates</a></li>
</ul>
</li>

<li id="menu-item-87" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-ancestor"><a href="{{ path('dc_platform_dahouet_regates_index') }}"><strong>Challenges et régates</strong></a>
<ul class="sub-menu">
	<li id="menu-item-181" class="menu-item menu-item-type-post_type menu-item-object-page"><a href="{{ path('dc_platform_dahouet_regates_inscription') }}">Inscription</a></li>
	<li id="menu-item-89" class="menu-item menu-item-type-post_type menu-item-object-page"><a href="http://ycva.fr/?page_id=16">Résultats</a></li>
	<li id="menu-item-180" class="menu-item menu-item-type-post_type menu-item-object-page"><a href="http://ycva.fr/?page_id=179">Archives</a></li>
</ul>
</li>

</ul>



            
            <div class="clear"></div>
            
			            
                    
        </div>
		
                
        <div class="menu-bottom-shadow">&nbsp;</div>


        
    </div>