<div id="nav">
            
            
         	<div id="header-menu-wrap" class="clearfix">
			<ul id="header-menu" class="menu clearfix"><li id="menu-item-88" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-ancestor"><a href="{{ path('dc_platform_dahouet_acceuil') }}"><strong>Accueil</strong></a>
<ul class="sub-menu">
	<li id="menu-item-428" class="menu-item menu-item-type-post_type menu-item-object-page"><a href="http://ycva.fr/?page_id=177">Présentation</a></li>
</ul>
</li>
<li id="menu-item-91" class="menu-item menu-item-type-post_type menu-item-object-page"><a href="http://ycva.fr/?page_id=22"><strong>Actualité</strong></a></li>
<li id="menu-item-87" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-ancestor"><a href="http://ycva.fr/?page_id=9"><strong>Notre Club</strong></a>
<ul class="sub-menu">
	<li id="menu-item-181" class="menu-item menu-item-type-post_type menu-item-object-page"><a href="http://ycva.fr/?page_id=177">Présentation</a></li>
	<li id="menu-item-89" class="menu-item menu-item-type-post_type menu-item-object-page"><a href="http://ycva.fr/?page_id=16">Cotisations et licences</a></li>
	<li id="menu-item-180" class="menu-item menu-item-type-post_type menu-item-object-page"><a href="http://ycva.fr/?page_id=179">Historique</a></li>
</ul>
</li>
<li id="menu-item-86" class="menu-item menu-item-type-post_type menu-item-object-page "><a href="http://ycva.fr/?page_id=72"><strong>Evénements</strong></a>
<ul class="sub-menu">
	<li id="menu-item-152" class="menu-item menu-item-type-post_type menu-item-object-page"><a href="http://ycva.fr/?page_id=151">Croisières</a></li>
	<li id="menu-item-153" class="menu-item menu-item-type-post_type menu-item-object-page"><a href="{{ path('dc_platform_dahouet_regates_index') }}">Régates</a>

</li>
	<li id="menu-item-176" class="menu-item menu-item-type-post_type menu-item-object-page"><a href="http://ycva.fr/?page_id=175">Entraînements</a></li>
</ul>
</li>
<li id="menu-item-90" class="menu-item menu-item-type-post_type menu-item-object-page"><a href="http://ycva.fr/?page_id=18"><strong>Contact</strong></a></li>
<li id="menu-item-148" class="menu-item menu-item-type-post_type menu-item-object-page"><a href="http://ycva.fr/?page_id=52"><strong>Bourse aux équipiers</strong></a></li>
<li id="menu-item-132" class="menu-item menu-item-type-custom menu-item-object-custom"><a href="http://ycva.fr/wp-content/uploads/2013/03/Plaquette-YCVA-2014.pdf"><strong>Petites annonces</strong></a></li>
</ul>            
            <div class="clear"></div>
            
			            
                    
        </div>
		
                
        <div class="menu-bottom-shadow">&nbsp;</div>


        
    </div>